{% extends 'structure/base.html' %}

{% block content %}
    <div class="table">
        {% if table.change_date %}
            <div class="date">
                <p> created: {{ table.create_date }} by {{ table.owner }}</p>
                <p> changed: {{ table.change_date }}</p>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'table_edit' pk=table.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ table.title }}</h1>
        <p>{{ table.text|linebreaksbr }}</p>
    </div>
{% endblock %}