h1 a {
    color: rgb(5, 83, 252);
    font-family: 'Calibri Light';
}

body {
}

.page-header {
    background-color: #3caf62bb;
    margin-top: 0;
    padding: 10px 10px 10px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Calibri', cursive;
}

.date {
    color: #828282;
    font-family: 'TamesNewRoman';
}

.save {
    float: right;
}

.table-form textarea, .table-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.table {
    margin-bottom: 70px;
}

.table h1 a, .table h1 a:visited {
    color: #24176da6;
}